{% extends "discuss/discussionbase.html" %}
{% block discussion %}
	<h2> Done reading the articles? Great! </h2>
	<h2> Let's get the conversation started! </h2>
	<p> Please answer the following questions to facilitate discussion. This will help your partner better understand you.
	<div id="questionblock">
		<form method="post" action="{% url 'discuss' discuss.id %}">
			<p> In my opinion, I thought the article itself was...
			<p> Bad <input type="range" name="answer1" min="1" max="7"> Good
			<p> Unsurprising <input type="range" name="answer2" min="1" max="7"> Surprising
			<p>
			<br>
			<p> And with the perspective in my article, I...
			<p> Disagree <input type="range" name="answer3" min="1" max="7"> Agree
			<p>
			<br>
			<p> Your article seemed...
			<p> Different <input type="range" name="answer4" min="1" max="7"> Same
			<p>
			<br>
			<p> <input class="btn btn-default btn-lg" type="submit" value="Discuss!" />
			{% csrf_token %}
			<input type="hidden" name="currentstate" value="position" />
		</form>
	</div>
{% endblock %}