{% extends "discuss/discussionbase.html" %}
{% block articleA %}
	<div class="articleinfo collapse" id="articleinfoA">
{% endblock %}
{% block articleB %}
	<div class="articleinfo collapse" id="articleinfoB">
{% endblock %}
{% block discussion %}

	{% if not finished %}
	<h2> Tell us more about your own context: </h2>
	<div id="questionblock">
		<form method="post" action="{% url 'discuss' discuss.id %}">
			<p> I see articles like this:
			<p> Never <input type="range" name="answer1" min="1" max="7"> All the time
			<p>
			<br>
			<p> My opinion about this kind of thing has been:
			<p> Always the same <input type="range" name="answer2" min="1" max="7"> Changed recently
			<p>
			<br>
			<p> I see you and I are different. I would say that with people who are the same as me, we would see it:
			<p> Differently than me <input type="range" name="answer3" min="1" max="7"> All about the same as I do
			<p>
			<br>
			<h3>Be polite. Ask what your partner thinks:</h3>
			<p> <input class="btn btn-default btn-lg" type="submit" value="What do you think about your article?" />
			{% csrf_token %}
			<input type="hidden" name="currentstate" value="context" />
		</form>
	</div>
	{% else %}
		<p id="waiting">Please wait for your partner to finish their discussion questions</p>
	{% endif %}
	
		
{% endblock %}

{% block scripts %}
	{% if finished %}
		<script src="/static/js/contextcheck.js"></script>
		<script src="/static/js/waiting.js"></script>
	{% endif %}
{% endblock %}